*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}

/* ------ main ----- */
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    padding: 20px;
    width: 400px;
    min-height: 300px;
    background-color: rgb(9, 185, 9);
    border-radius: 10px;
}
#form{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.title{
    text-align: center;
    margin-bottom: 25px;
}
#input{
    margin-bottom: 25px;
    padding: 15px 15px 15px 20px;
    width: 350px;
    border: none;
    border-radius: 5px;
    outline: none;
}
#form__btn{
    margin-bottom: 25px;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: #ccc;
    cursor: pointer;
    transition: 0.5s;
}
#form__btn:hover{
box-shadow: 0 0 5px 5px #000;
}
.result{
    display: none;
    margin: 0 auto;
    width: 100px;
    padding: 5px;
    border: 2px solid rgb(255, 1, 1);
    color: rgb(230, 9, 9);
    text-align: center;
    border-radius: 20px;
}
.result__active{
    display: block;
}
